/* src/App.css */

.left-container {
  min-height: 100vh;
  max-width: 480px;
  padding: 20px;
  background-color: #1a1a1a;
  color: white;
  box-sizing: border-box;
}

.header {
  background-color: #242424;
  padding: 8px;
  border-bottom: 2px solid #0066cc;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #0066cc;
  text-align: center;
}

.input-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input-field {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid #0066cc;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: white;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 8px 16px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0052a3;
}

.error {
  color: #ff4444;
  margin-top: 8px;
}

.activity-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 20px;
}

.left-container {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  z-index: 10000;
}

.menu.open {
  display: block;
}

/* @media (min-width: 900px) {
  .menu {
    display: none;
  }
} */

@media (max-width: 900px) {
  .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .menu {
    display: block;
  }
}


@media (max-width: 768px) {
  .activity-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  /* Styles for smartphones */
  .left-container {
    display: none;
  }
}

/* .screen-container {
  display: flex;
  justify-content: center;
} */

.screen-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: row; /* Aligns items horizontally */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}


.app-container {
  position: relative;
  flex-grow: 1; /* Takes up all the available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/hospital_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}